name: Release App

on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    strategy:
      matrix:
        configuration: [Release]
    
    runs-on: windows-latest
    
    steps:
    - name: checkout
      uses: actions/checkout@v3
      
    #- name: install dotnet (installed already)
    #  uses: actions/setup-dotnet@v3
    #  with:
    #    dotnet-version: 7.0.x
        
    - name: restore
      run: |
        cd src
        dotnet restore
      
    - name: publish
      run: |
        cd src
        dotnet publish -c release
        
    - name: download ffmpeg
      run: curl https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl-shared.zip -o ffmpeg.zip
    
    - name: extract ffmpeg
      run: |
        Expand-Archive -Path .\ffmpeg.zip -Force -DestinationPath src\QuranVideoMaker\bin\Release\net7.0-windows\publish
        
    - name: zip release
      run: |
        Compress-Archive -Path src\QuranVideoMaker\bin\Release\net7.0-windows\publish -DestinationPath QuranVideoMaker.zip
        
